.play{
    background-color:white;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    margin: 20px;
    font-size: 2rem;
    text-align: center;
    box-shadow: 4px 4px 15px 5px rgba(0,0,0,0.31);

    h1{
        span{
            font-weight: bold;
            font-style: italic;
        }
    }

    .play-container{
        padding: 40px;

        .pokemons > *{
            margin: 10px;
        }

        .pokemons{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            align-content: stretch;

            .play-effect{
                position: relative;

                img{
                    width: 200px;
                    height: 200px;
                    margin-bottom: 30px;
                    clip-path: circle(50%);
                }

                &:hover{
                    transform: scale(1.1,1.1);
                    transition: 0.4s ease-in-out;
                    cursor: grab;
                }

                .play-container-pokemon{
                    overflow: hidden;
                    position: relative;
                    clip-path: circle(5%);
                    
                    img{
                        margin-bottom: 0;
                    }
                }

                .show-pokemon{
                    background-color: white;
                    z-index: 999;
                    animation-name: showImage;
                    animation-duration: 1.5s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    animation-direction: alternate-reverse;


                    @keyframes showImage{
                        0%{clip-path: circle(5%);}
                        20%{clip-path: circle(10%);}
                        40%{clip-path: circle(20%);}
                        60%{clip-path: circle(30%);}
                        80%{clip-path: circle(40%);}
                        100%{clip-path: circle(48%);}
                    }
                }

                .play-container-pokebola{
                    position: absolute;
                    top: 0;
                }

                .play-container-center{
                    width: 30px;
                    height: 30px;
                    background-color: crimson;
                    position: absolute;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    border: 1px solid black;
                }
            }  
        }

             

        .play-controls{
            display: flex;
            justify-content: space-around;

            button{
                display: flex;
                align-items: center;
                background-color: #322e85;
                border: solid 1px rgb(223, 223, 223);
                color: white;
                border-radius: 10px;
                font-size: 2.5rem;
                margin-top: 50px;
                padding-left: 15px;
                padding-right: 15px;

                i{
                    margin-left: 20px;
                }
            }
        }

    }
}

