*,
*::before,
::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color:  #C70039;
}

@import 'home';
@import 'spinner';
@import 'play-home';